.buttonSend{
    background: white;
    width: 130px;
    height: 43px;
    border-radius: 40px;
    color: #7E7C7A;    border: 2px solid #88cf98;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px 0px;
    

}
.buttonSend {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonSend:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonSend:hover {
    background: #3CEDA7;
    padding-right: 25px;
  }
  
  .buttonSend:hover:after {
    opacity: 1;
    right: 0;
  }